* {
	box-sizing: border-box;
}

body {
	background-color: #a3a1a0;
}

#name {
	color: #955bc2;
	text-align: center;
}

div {
	border: 2px solid black;
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: white;
	border-radius: 50%;
}
#pet {
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#pet img {
	justify-content: center;
	width: 200px;
	height: 200px;
}

.hatch {
	display: flex;
	justify-content: center;
	padding: 50px;
	margin: 20px;
	text-align: center;
}

 button {
	width: 80px;
	background-color: #53bdde;
	border: none;
	border-radius: 20%;

}
.buttons {
	height: 50px;
	display: flex;
	justify-content: center;
	align-content: center;
}

.buttons button {
	width: 80px;
	background-color: #53bdde;
	border: none;
	border-radius: 30%;
	margin: 0 50px;
	visibility: hidden;
}