* {
	box-sizing: border-box;
}

body {
	background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v372-binn-sasi-09-swissdesignbackground_2.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=6f985f92d75684daff5ca2da83c41368");
	font-family: 'Sriracha', cursive;
}

#name {
	color: #c70700;
	text-align: center;
}

div {
	border: 2px solid black;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
}

#pet {
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#pet img {
	justify-content: center;
	width: 200px;
	height: 200px;
	opacity: .9;
	border-radius: 20px;
}

#play-again {
	visibility: hidden;
}

.hatch {
	display: flex;
	justify-content: center;
	padding: 50px;
	margin: 20px;
}

#name-button {
	visibility: visible;
}

#hatch-button {
	visibility: hidden;
	justify-content: center;
}

 button {
	width: 80px;
	background-color: #53bdde;
	border: none;
	border-radius: 20%;
	cursor: pointer;

}
.buttons {
	height: 50px;
	display: flex;
	justify-content: center;
	align-content: center;
}

.buttons button {
	width: 80px;
	background-color: #53bdde;
	border: none;
	border-radius: 30%;
	margin: 0 50px;
	visibility: hidden;
}

.evolve {
	display: flex;
	justify-content: center;
	height: 50px;
}

#evolve-button {
	visibility: hidden;
}